.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu {
	font-family: 'Montserrat', sans-serif;
	margin-top: 2rem;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	&-button {
		border: 2px solid $black;
		width: 100%;
		text-align: center;
		border-radius: 1px;
		padding: .5rem 0 .5rem 0;
		transition: all .3s ease-in-out;
		&:hover {
			box-shadow: 1px 1px 5px $black;
			transform: scale(1.01);
			cursor: pointer;
		}
	}
	&-items-list {
		display: none;
		transition: transform .3s ease-in-out;
		transform: scale(0);
		transform-origin: top left;
		border: 2px solid $black;
		border-top: none;
		border-right: none;
		width: 100%;
	}
	&-item {
		display: block;
		padding: .2rem 0 .2rem .5rem;
		text-decoration: none;
		color: $black;
	}
}
.logo {
	margin-top: 1rem;
	width: 50%;
}
.visible {
	display: block;
	transform: scale(1);
	transform-origin: top left;
}
