.hero {
	&-title {
		width: 65%;
	}
	&-button {
		color: $black;
		border: 2px solid $black;
		padding: 5px;
	}
	&-image {
		width: 35%;
		height: auto;
		border-radius: 5px;
		box-shadow: 1px 1px 6px 1px $black;
	}
}